body {
  background-color:whitesmoke
}

.top-header {
  position:relative;
}

.headshot {
  width:200px;
  
}
.card-body {
  padding: 40px;
}

.card-body:hover{
  background:grey;
}

.cards {
  /* margin: 0 auto; */
  justify-content:space-between;
  justify-content: center;
}

.pics {
  width: 200px;
}

h1 {
  font-size: 80px;
}

.introPar {
    width:400px;
    padding: 20px;
  }

  .text-center {
    margin: 0 auto;
  }

  .container-fluid {
    margin-top:50px;
    margin-bottom:60px;
  }

  .row {
    justify-content:space-between;
  justify-content: center;
  }