body {
  background-color:whitesmoke
}

.top-header {
  position:relative;
}

.headshot {
  width:200px;
  
}
.card-body {
  padding: 40px;
}

.card-body:hover{
  background:grey;
}

.cards {
  /* margin: 0 auto; */
  justify-content:space-between;
  justify-content: center;
}

.pics {
  width: 200px;
}

h1 {
  font-size: 80px;
}

.introPar {
    width:400px;
    padding: 20px;
  }

  .text-center {
    margin: 0 auto;
  }

  .container-fluid {
    margin-top:50px;
    margin-bottom:60px;
  }

  .row {
    /* justify-content:space-between; */
  justify-content: center;
  }
  
  .img-fluid {
    /* position:absolute; */
    /* width:100%; */
    transition:0.5s;
}

.headshotContainer {
  /* position:relative; */
  /* width:360px; */
  /* height:640px; */
  margin-top:15-px;
  /* background:rgba(0,0,0,.1); */
  /* transform: rotate(-30deg) skew(25deg) scale(1); */
  transition:0.5s;
  }

  .headshotContainer:hover img:nth-child(4) {
    /* transform:translate(160px, -160px); */
    opacity:1;

}

.headshotContainer:hover img:nth-child(3) {
    /* transform:translate(120px, -120px); */
    opacity:.8;

}

.headshotContainer:hover img:nth-child(2) {
    /* transform:translate(80px, -80px); */
    opacity:.6;

}

.headshotContainer:hover img:nth-child(1) {
    /* transform:translate(40px, -40px); */
    opacity:.4;
}

.profileContactLogo:hover {
  opacity:.5;
  color:grey;
}

.pics:hover{
  opacity:.3;
}