body {
  background-color: gray;
}

.top-header {

  height: 50vh;
  position:relative;

}

.headshot {
  width:200px;
  
}
.card-body {
  padding: 40px;
}

.cards {
  margin: 0 auto;
}


.pics {

  width: 200px;

}

buttons {
  display:block;
  padding-top: 50px;
}

h1 {

  font-size: 80px;

}

.introPar {

    width:400px;
    padding: 20px;

  }

  .text-center {
    
    margin: 0 auto;
  }